* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  height: 120px;
  display: flex;
  align-items: center;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 100%;
  margin: 0 auto;
}
header nav ul {
  list-style-type: none;
}
header nav ul li {
  display: inline-block;
  margin: 0 10px;
}
header nav ul li a {
  text-decoration: none;
  color: #464646;
  position: relative;
  font-weight: 600;
}
header nav ul li a:hover {
  color: #0282f9;
}
header nav ul li a.active {
  color: #0282f9;
}
header nav ul li a div {
  position: absolute;
  height: 5px;
  width: 100%;
  bottom: -51px;
  left: 0;
  background-color: #0282f9;
}

main #jumbotron {
  background-image: url("/images/jumbotron.jpg");
  height: 400px;
}
main #main-content-comics {
  background-color: #1c1c1c;
}
main #main-content-comics #series {
  width: 70%;
  margin: 0 auto;
  color: white;
}
main #main-content-comics #series #current-series {
  transform: translate(0, -50%);
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  background-color: #0282f9;
}
main #main-content-comics #series #cards-series {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
}
main #main-content-comics #series #cards-series .card-serie {
  width: 16.6666666667%;
  padding: 12px;
  margin-top: 30px;
}
main #main-content-comics #series #cards-series .card-serie a {
  text-decoration: none;
  color: white;
}
main #main-content-comics #series #cards-series .card-serie img {
  width: 100%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin-bottom: 10px;
}
main #main-content-comics #series #load-more {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin-top: 20px;
}
main #main-content-comics #series #load-more a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 180px;
  background-color: #0282f9;
  font-size: 14px;
  font-weight: 600;
}
main #shop-content {
  background-color: #0282f9;
  padding: 40px 0;
}
main #shop-content div {
  width: 70%;
  margin: 0 auto;
  display: flex;
  padding: 0 25px;
}
main #shop-content div div {
  display: flex;
  align-items: center;
  gap: 25px;
}
main #shop-content div div img {
  max-width: 50px;
  height: auto;
  max-height: 60px;
}
main #shop-content div div span {
  color: white;
  font-size: 15px;
  font-weight: 400;
}

main #main-content-serie .copertina {
  height: 70px;
  width: 100%;
  background-color: #0282f9;
}
main #main-content-serie .copertina img {
  transform: translate(0, -85%);
}
main #main-content-serie .container {
  width: 60%;
  margin: 0 auto;
}
main #main-content-serie .container .my-row {
  display: flex;
}
main #main-content-serie .container .my-row .text-serie {
  width: 70%;
}
main #main-content-serie .container .my-row .advertisement {
  width: 30%;
}
main #main-content-serie .container .my-row .advertisement img {
  height: auto;
  width: 100%;
}
main #main-content-serie #specifiche {
  background-color: #f6f6f6;
  border-top: 1px solid #d8d8d8;
  padding-top: 40px;
}
main #main-content-serie #specifiche .divisor {
  width: 100%;
  height: 1px;
  background-color: #d8d8d8;
  margin: 15px 0;
}
main #main-content-serie #specifiche .talent-serie {
  width: 50%;
  color: #003f5e;
  padding-right: 20px;
}
main #main-content-serie #specifiche .spec-serie {
  width: 50%;
  color: #003f5e;
  padding-left: 20px;
}
main #main-content-serie #specifiche .data-serie {
  color: #00a9d9;
}
main #main-content-serie #specifiche .talent-data {
  display: flex;
}
main #main-content-serie #specifiche .talent-data .name-spec {
  width: 40%;
}

footer #footer-up {
  background-image: url("/images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 360px;
}
footer #footer-up div {
  height: 100%;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer #footer-up div #footer-links {
  padding: 20px 0;
  display: flex;
  width: 40%;
  margin: 0;
}
footer #footer-up div #footer-links div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
footer #footer-up div #footer-links div h3 {
  color: white;
  margin: 20px 0;
}
footer #footer-up div #footer-links div ul {
  padding-left: 0;
}
footer #footer-up div #footer-links div ul li {
  list-style-type: none;
}
footer #footer-up div #footer-links div ul li a {
  color: #959595;
  font-size: 14px;
  text-decoration: none;
}
footer #footer-up div #footer-logo {
  background-image: url("/images/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  margin: 0;
}