main {
    #main-content-serie {
        .copertina {
            height: 70px;
            width: 100%;
            background-color: $primary;

            img {
                transform: translate(0, -85%);
            }
        }

        .container {
            width: 60%;
            margin: 0 auto;

            .my-row {
                display: flex;

                .text-serie {
                    width: 70%;
                }

                .advertisement {
                    width: 30%;

                    img {
                        height: auto;
                        width: 100%;
                    }
                }
            }
        }

        #specifiche {
            background-color: #f6f6f6;
            border-top: 1px solid #d8d8d8;
            padding-top: 40px;

            .divisor {
                width: 100%;
                height: 1px;
                background-color: #d8d8d8;
                margin: 15px 0;
            }

            .talent-serie {
                width: 50%;
                color: #003f5e;
                padding-right: 20px;
            }

            .spec-serie {
                width: 50%;
                color: #003f5e;
                padding-left: 20px;
            }

            .data-serie {
                color: #00a9d9;
            }

            .talent-data {
                display: flex;

                .name-spec {
                    width: 40%;
                }
            }
        }
    }
}